@charset "UTF-8";

/*** Table Of Contents ***
* 1. Resets
* 2. General Elements
* 3. Header/Main Navigation
* 4. Main Content Section
* 5. Footer Section
***/

/*** Color Codes ***
* Light Grey   rgb(235,235,235)  #EBEBEB
* Grey         rgb(169,169,169)  #A9A9A9
* Dark Grey    rgb(102,102,102)  #666
* Lighter Blue rgb(210,233,255)  #D2E9FF
* Light Blue   rgb(192,225,255)  #C0E1FF
* Medium Blue  rgb(102,193,228)  #66C1E4
* Darker Blue  rgb(62,177,221)   #3EB1DD
***/

/*** 
* 1. Resets
***/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Border Box Sizing */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/*** 
* 2. General Elements 
***/

h2 {
  font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;
  padding: 10px 10px 10px 20px;
  display: block;
  background: #C0E1FF;
  border-bottom: 1px solid #B8DDFF;
  margin: -20px -20px 15px;
}

/* Forms */
form.elegant-aero {
  margin-left:auto;
  margin-right:auto;
  max-width: 500px;
  background: #D2E9FF;
  padding: 20px 20px 20px 20px;
  font: 12px Arial, Helvetica, sans-serif;
  color: #666;
}
form h2>span {
  display: block;
  font-size: 11px;
}

form label>span {
  float: left;
  margin-top: 10px;
}
form label {
  display: block;
  margin: 0px 0px 5px;
}
form label>span {
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 15px;
  margin-top: 10px;
  font-weight: bold;
}
form input[type="text"], 
form input[type="email"], 
form textarea, 
form select {
  color: #888;
  width: 70%;
  padding: 0px 0px 0px 5px;
  border: 1px solid #C5E2FF;
  background: #FBFBFB;
  outline: 0;
  -webkit-box-shadow:inset 0px 1px 6px #ECF3F5;
  box-shadow: inset 0px 1px 6px #ECF3F5;
  font: 200 12px/25px Arial, Helvetica, sans-serif;
  height: 30px;
  line-height:15px;
  margin: 2px 6px 16px 0px;
}
form textarea{
  height:100px;
  padding: 5px 0px 0px 5px;
  width: 70%;
}
form select {
  background: #fbfbfb url('../img/down-arrow.png') no-repeat right;
  background: #fbfbfb url('../img/down-arrow.png') no-repeat right;
  appearance:none;
  -webkit-appearance:none; 
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
  width: 70%;
}
.button{
  padding: 10px 30px 10px 30px;
  background: #66C1E4;
  border: none;
  color: #FFF;
  box-shadow: 1px 1px 1px #4C6E91;
  -webkit-box-shadow: 1px 1px 1px #4C6E91;
  -moz-box-shadow: 1px 1px 1px #4C6E91;
  text-shadow: 1px 1px 1px #5079A3;
  
}
.button:hover{
    background: #3EB1DD;
}

/***
* 3. Header/Main Navigation
***/

/*** Table Of Contents
* 4. Main Content Section
***/

/***
* 5. Footer Section
***/
